# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtualenv
venv/
.venv/
lab4/app/venv/
pip-wheel-metadata/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Flask
instance/
*.sqlite3
