name: Deploy to EC2

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -eux

            cd /home/ec2-user/cloud-lab-1
            git pull origin main

            cd /home/ec2-user/cloud-lab-1/lab4/app
            source /home/ec2-user/cloud-lab-1/venv/bin/activate

            pip install -r requirements.txt

            pkill -f "python app.py" || true
            nohup python app.py > app.log 2>&1 &

            sleep 2
            tail -n 50 app.log || true
            exit 0
